
.LoginPage{
    position: absolute;
    top:20%;
    right:60px;
    display: block;
    width:400px;

    background-color: cadetblue;

    &___title{
        display:block;
        width:100%;
        padding:20px 0;
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }

    &__insert{

        display: flex;
        flex-direction: column;

            &_label{
                padding:20px;
                display: flex;
                flex-direction: column;
            }
            &_login{
                margin:15px;
                padding:5px;
                flex-grow: 1;
            }

            &_password{
                margin:15px;
                padding:5px;
                flex-grow: 1;
            }
    }

    &__btn{
        margin:0 auto;
        display: flex;
        flex-direction: row;
        padding:0 0 25px 0;
        text-decoration: uppercase;
        
        &_left{
            margin: 0 10px;
            padding:5px 20px;
            background-color: coral;
            border:3px rgba(226, 110, 68, 0.596) solid;
            color:white;
            text-transform: uppercase;
            font-weight: bold;
        }

        &_right{
            margin: 0 10px;
            padding:5px 20px;
            background-color: coral;
            border:3px rgba(226, 110, 68, 0.596) solid;
            color:white;
            text-transform: uppercase;
            font-weight: bold;
        }

        &_left:hover{
            cursor: pointer;
            background-color: white;
            color: coral;
        }

        &_right:hover{
            cursor: pointer;
            background-color: white;
            color: coral;
        }

    }
}
table.paleBlueRows h2{
  margin:-55px;
  font-weight: bold;
}


table.paleBlueRows {
    border: 1px solid #FFFFFF;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  
  table.paleBlueRows td, table.paleBlueRows th {
    border: 1px solid #FFFFFF;
    padding: 3px 2px;
  }
  table.paleBlueRows tbody td {
    font-size: 13px;
  }
  table.paleBlueRows tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.paleBlueRows thead {
    background: #0B6FA4;
    border-bottom: 5px solid #FFFFFF;
  }
  table.paleBlueRows thead th {
    font-size: 17px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #FFFFFF;
  }
  table.paleBlueRows thead th:first-child {
    border-left: none;
  }
  
  table.paleBlueRows tfoot td {
    font-size: 14px;
  }
 
  .Admin_Header{
    background-color: #D0E4F5;
    height:160px;

    &___title{
      padding:20px 0;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
    &___btn{
      padding:20px;
      background-color: rgb(41, 73, 41);
      color:white;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
  
.SesionList{
  position: absolute;
  left:400px;
  top:200px;
  display:block;
  width: 42%;
  height:50vh;
  overflow-y: auto;
}

.HeaderTextList{
  display:block;
  margin-top:10px;
  margin-left:400px;
  font-size:18px;
  font-weight: bold;

}

  // .SplitPane-main header {
  //   position:absolute;
  //   left:0;
  //   top:0px;
    
  //   width:100%;
  //   height:150px;
  //   background-color:#D0E4F5;
  // }

  // .SplitPane-main header nav {
  //   display:block;
  //   margin:-20px 0 0 0;
  //   padding:0 5px;
  //   width:99%;
  //   height:100%;
  //   //background-color:red;
  // }

  .SplitPane-main header nav h2 {
    //background-color:blue;
  }
  .SplitPane-main header nav div {
    margin:30px 0 0 0;
  }


  .SplitPane-main footer {
    position:absolute;
    left:0;
    bottom:0px;
    width:100%;
    
    background-color:rgba(37, 97, 97, 0.96); 
    color:white;
  }

  .addUserForm{
    position:absolute;
    left:0;
    top:0;
    margin:15% 0 0 10%;
    display:block;
    width: 42%;
    height:50vh;
    overflow-y: auto;
  
  }

  
